@defWidth: 69px;
@borderStyle: groove;

.gameContainer{
  width: @defWidth * 9;
  height: @defWidth * 4;
  border: double;
  display: grid;
  grid-template-rows: 40px auto 40px 35px;
  gap: 15px;
  padding: 15px 12px;

  .gameStatsArea{
    border: @borderStyle;
    .gameWPM, .gameAccuracy{
      padding: 0px 5px;
    }

  }

  .gameWordArea{
    border: @borderStyle;
    overflow: hidden;
    padding: 5px;
    .typingWord{
      font-size: 30px;
    }

    #highlightWord{
      color: orange;
    }

    .correctWord{
      color: green;
    }

    .wrongWord{
      color: red;
    }
  }

  .gameTypingArea{
    border: @borderStyle;
    display: block;
    .gameTypingField{
    }
  }
  .gameResetButton{
    border: @borderStyle;
  }

}

#settingsButton{
  height: 20px;
  width: 20px;
}
