.gameContainer{
  width: 621px;
  height: 276px;
  border: double;
  display: grid;
  grid-template-rows: 40px auto 40px 35px;
  gap: 15px;
  padding: 15px 12px;
}

.gameStatsArea{
  border: groove;
}

.gameWordArea{
  border: groove;
  overflow: hidden;
  padding: 5px;
}
.typingWord{
  font-size: 30px;
}

#highlightWord{
  color: orange;
}

.correctWord{
  color: green;
}

.wrongWord{
  color: red;
}

.gameTypingArea{
  border: groove;
  display: block;
}

.gameTypingField{
}

.gameResetButton{
  border: groove;
}
