body #screenContainer {
  background-color: #E5E9F0;
}
body #modalContent {
  background-color: #D8DEE9;
}
body h1,
body h2 {
  color: #2E3440;
}
body p,
body label {
  color: #3B4252;
}
body nav {
  background-color: #D8DEE9;
}
body input {
  background-color: #f9fafb;
}
#gameContainer #game {
  border: 1px solid #3B4252;
  border-radius: 4px;
  background-color: #ECEFF4;
}
#gameContainer #game .gameArea {
  background-color: #ECEFF4;
}
#gameContainer #game #statBox {
  background-color: #f9fafb;
}
#gameContainer #game #gameWordArea .typingWord {
  font-size: 1.5rem;
  text-overflow: clip;
}
#gameContainer #game #gameWordArea #highlightWord {
  color: #88C0D0;
}
#gameContainer #game #gameWordArea .correctWord {
  color: #A3BE8C;
}
#gameContainer #game #gameWordArea .wrongWord {
  color: #BF616A;
}
#gameContainer #startOverlay #startButton {
  background-color: #f9fafb;
  color: #2E3440;
  border: 1px solid #2E3440;
  border-radius: 5px;
}
#gameContainer #startOverlay #startButton:hover {
  background-color: #ECEFF4;
  color: #88C0D0;
  border: 1px solid #88C0D0;
}
#gameContainer #finishOverlay {
  border: 1px solid #3B4252;
  border-radius: 4px;
  background-color: #ECEFF4;
}
#gameContainer #finishOverlay #finishStatArea .finishStat {
  color: #3B4252;
  font-size: 1.25rem;
}
#gameContainer #gameTypingField {
  border-radius: 5px;
  outline: none;
}
* {
  font-family: Consolas;
  font-size: 16px;
}
body h1 {
  font-size: 2rem;
}
body h2 {
  font-size: 1.75rem;
}
body .radioHeader {
  font-size: 1.5rem;
  font-weight: 100;
}
body .radioSelector {
  font-size: 1.25rem;
}
html {
  height: 100%;
}
html body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: static;
}
html body #overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
}
html body main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
html body main h1 {
  text-align: center;
}
html body main p {
  text-align: center;
}
html body main #screenContainer {
  flex: 1 1 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html main #settingsButton,
html main #scoresButton {
  position: absolute;
  height: 50px;
  width: 50px;
  padding: 0;
  background-color: #f9fafb;
  color: #2E3440;
  border: 1px solid #2E3440;
  border-radius: 5px;
}
html main #settingsButton:hover,
html main #scoresButton:hover {
  background-color: #ECEFF4;
  color: #88C0D0;
  border: 1px solid #88C0D0;
}
html main #settingsButton .navIcon,
html main #scoresButton .navIcon {
  height: 80%;
  margin: 10%;
}
html main #settingsButton .tooltip,
html main #scoresButton .tooltip {
  margin: 20% 5px auto;
  height: 50%;
  visibility: hidden;
  width: 120px;
  background-color: #3B4252;
  color: #ECEFF4;
  text-align: center;
  padding: 5% 0;
  border-radius: 6px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
}
html main #settingsButton #scoreTooltip,
html main #scoresButton #scoreTooltip {
  right: 105%;
}
html main #settingsButton:hover .tooltip,
html main #scoresButton:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
html main #scoresButton {
  top: 0px;
  right: 0px;
}
html #settingsButton:focus {
  outline: none;
}
html #settingsButton img {
  transition: transform 0.3s;
}
html #settingsButton:hover img {
  transform: rotate(45deg);
}
html #settingsNav,
html #scoresNav {
  position: fixed;
  height: 100%;
  display: none;
  flex-direction: column;
}
html #scoresNav {
  top: 0px;
  right: 0px;
  display: none;
  flex-direction: column;
}
html .open#settingsButton {
  margin-left: 25rem;
}
html .open#settingsNav {
  width: 25rem;
}
html .open#scoresButton {
  margin-right: 25rem;
}
html .open#scoresNav {
  width: 25rem;
}
html .open#overlay {
  display: block;
}
#settingsForm {
  display: flex;
  flex-direction: column;
}
#settingsForm .radioHeader {
  text-align: center;
}
#settingsForm .settingsRadio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#settingsForm .settingsRadio input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#settingsForm .settingsRadio input:checked + label {
  color: #5E81AC;
  border: solid 1px #5E81AC;
}
#settingsForm .settingsRadio .radioSelector {
  background-color: #E5E9F0;
  border: solid 1px #3B4252;
  margin: 5px;
  border-radius: 5px;
  height: 2rem;
  width: 7rem;
  vertical-align: middle;
  text-align: center;
}
#settingsForm .settingsRadio .radioSelector:hover {
  border: solid 1px #88C0D0;
  color: #88C0D0;
  transition: border 0.3s;
}
#settingsForm .settingsMenuButton {
  width: 15rem;
  height: 3rem;
  margin: 10px;
  font-size: 1.25rem;
  color: #3B4252;
  border: 1px solid #3B4252;
  border-radius: 5px;
  align-self: center;
}
#settingsForm .settingsMenuButton:hover {
  border: 1px solid #88C0D0;
  color: #88C0D0;
}
#wordModal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}
#wordModal #modalContent {
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}
#wordModal #modalContent #modalHeader span {
  float: right;
}
#wordModal #modalContent #modalWords {
  display: flex;
  flex-wrap: wrap;
}
#wordModal #modalContent #modalWords .modalWord {
  padding: 2px;
}
html #gameContainer,
html #topText {
  z-index: 2;
}
html #overlay {
  z-index: 3;
}
html .navbar,
html .navButton {
  z-index: 4;
}
html #wordModal {
  z-index: 5;
}
#gameContainer {
  width: 39rem;
  height: 18rem;
  position: absolute;
}
#gameContainer #game {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2.5rem 6.08333333rem 2.5rem 2.5rem;
  gap: 0.75rem;
  padding: 0.75rem;
  box-sizing: border-box;
}
#game #gameStatsArea {
  display: flex;
  align-items: center;
  justify-content: center;
}
#game #gameStatsArea #statBox {
  width: 2.5rem;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
}
#game #gameStatsArea #statBox #gameProgress {
  line-height: 2.5rem;
  font-size: 1.5rem;
}
#game #gameWordArea {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  padding-bottom: 0.66666667rem;
}
#game #gameTypingArea {
  display: block;
}
#game #gameTypingArea #gameTypingField {
  height: 100%;
  width: calc(100% - 5px);
  border: 0;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-size: 1.5rem;
}
#gameContainer #startOverlay,
#gameContainer #finishOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
#gameContainer #startOverlay {
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#gameContainer #startOverlay #startButton {
  height: 5rem;
  width: 10rem;
  text-align: center;
  vertical-align: middle;
}
#gameContainer #finishOverlay {
  display: none;
}
#gameContainer #finishOverlay form {
  display: grid;
  grid-template-rows: 20% 15% auto 20%;
  height: 100%;
}
#gameContainer #finishOverlay form .finishArea {
  display: flex;
}
#gameContainer #finishOverlay form #finishTitleArea {
  justify-content: center;
  align-items: center;
}
#gameContainer #finishOverlay form #finishNameArea {
  justify-content: center;
  align-items: center;
}
#gameContainer #finishOverlay form #finishStatArea {
  display: grid;
  padding: 0 10%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 70%;
}
#gameContainer #finishOverlay form #finishStatArea .finishStat {
  justify-self: center;
  align-self: center;
}
#gameContainer #finishOverlay form #finishHiddenForms {
  display: none;
}
#gameContainer #finishOverlay form #finishRetryArea {
  justify-content: space-evenly;
  align-items: center;
}
