@defWidth: 69px;
@borderStyle: groove;
@defHeight: 69px;

.game{
  position: relative;
  display: inline-block;
  .gameContainer{
    width: @defWidth * 9;
    height: @defWidth * 4;
    border: double;
    display: grid;
    grid-template-rows: 15% auto 15% 12.5%;
    gap: 5%;
    padding: 15px 12px;

    .gameArea{
      border: @borderStyle;
    }

    #gameWordArea{
      position: relative;
      overflow: hidden;
      padding: 5px;
      .typingWord{
        font-size: 30px;
      }

      #highlightWord{
        color: orange;
      }

      .correctWord{
        color: green;
      }

      .wrongWord{
        color: red;
      }

    }

    #gameTypingArea{
      display: block;
    }
  }

  #startOverlay, #finishOverlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  #startOverlay{
    backdrop-filter: blur(3px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #finishOverlay{
    border: groove;
    background-color: white;
    z-index: 2;
    display: none;
    grid-template-rows: 20% 15% auto 20%;
    .finishArea{
      display: flex;
      border: groove;
    }

    #finishTitleArea{
      justify-content: center;
      align-items: center;
    }

    #finishNameArea{
      justify-content: center;
      align-items: center;
    }

    #finishStatArea{
      display: grid;
      padding: 0 10%;
      grid-template-columns: 50% 50%;
      grid-template-rows: 30% 70%;
      .finishStat{
        justify-self: center;
        align-self: center;
      }
    }

    .hiddenField{
      display: none;
    }

    #finishRetryArea{
      justify-content: space-evenly;
      align-items: center;
    }
  }
}