//Functions and variables
@use "partials/colors" as c;
@use "partials/variables" as *;
@use "partials/themes" as *;

$defWidth: 69px;
$borderStyle: groove;
$defHeight: 69px;

@mixin center_flex_element {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center_text {
  text-align: center;
  vertical-align: middle;
}

@mixin full_screen {
  @include width_height(100%);
}


@mixin width_height($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin container_style {
  border: var(--containerBorder);
  border-radius: 7px;
  background-color: var(--gameBackground);
}

@mixin border_style {
  border: var(--buttonBorder);
}

@mixin button_hover {
  background-color: var(--buttonHover);
  color: var(--hoverCol);
  border: 1px solid var(--hoverCol);
}


@mixin button_style {
  @include border_style;
  background-color: var(--focusBackground);
  color: var(--smallText);
  border-radius: 5px;
  transition: all 0.3s;

  &:hover {
    @include button_hover;
  }
}

@mixin blocking_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  @include full_screen;
}

@mixin top_right {
  top: 0px;
  right: 0px;
}

// Colours
*{
  transition: background-color 0.5s, color 1s;
}

body {
  #screenContainer {
    background-color: var(--backgroundColor);
  }

  #modalContent {
    background-color: var(--navBackground);
  }

  .navButton {
    .tooltip {
      background-color: var(--mediumText);
      color: var(--gameBackground);
    }
  }

  h1,
  h2 {
    color: var(--highlightText);
  }

  p,
  label {
    color: var(--mediumText);
  }

  nav {
    background-color: var(--navBackground);
  }

  input {
    background-color: var(--focusBackground);
  }
}

#gameContainer {
  #game {
    @include container_style;

    .gameArea {
      background-color: var(--gameBackground);
    }

    #statBox {
      background-color: var(--focusBackground);
      color: var(--mediumText);
    }

    #gameWordArea {
      .typingWord {
        font-size: 1.5rem;
        text-overflow: clip;
        color: var(--typingWord);
        transition: color 0.2s;
      }

      #highlightWord {
        color: var(--highlightWord);
      }

      .correctWord {
        color: var(--correctWord);
      }

      .wrongWord {
        color: var(--wrongWord);
      }
    }

    #gameTypingArea {
      #gameTypingField {
        color: var(--highlightText);
      }
    }
  }

  #startOverlay {
    #startButton {
      @include button_style;
    }
  }

  #finishOverlay {
    background-color: var(--gameBackground);
    @include container_style;

    #finishNameArea {
      #finishTypingField {
        color: var(--highlightText);
      }
    }

    #finishStatArea {
      .finishStat {
        color: var(--mediumText);
        font-size: 1.25rem;
      }
    }
  }
}

#settingsForm {
  .settingsRadio {
    .radioSelector {
      @include button_style;
    }

    input {
      &:checked + label {
        @include button_hover;
      }
    }
  }

  .settingsMenuButton {
    @include button_style;
  }
}


#scoresNav {
  #scoreboard {
    background-color: var(--focusBackground);

    .scoreHeader {
      color: var(--mediumText);
    }

    #scorebody > tr {
      color: var(--smallText);


      &:nth-child(odd) {
        background-color: var(--scoreboard1);
      }

      &:nth-child(even) {
        background-color: var(--scoreboard2);
      }
    }
  }
}

#wordModal {
  #modalContent {
    #modalWords {
      background-color: var(--focusBackground);

      .modalWord {
        color: var(--mediumText);
      }


    }
  }
}

// Fonts

* {
  font-family: Consolas;
  font-size: 16px;
}

body {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .radioHeader {
    font-size: 1.5rem;
    font-weight: 100;
  }

  .radioSelector {
    font-size: 1.25rem;
  }
}

// General body styling

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: static;

  #wordModal {
    @include blocking_overlay;
    overflow: auto;
    justify-content: center;
  }

  #overlay {
    @include blocking_overlay;
  }

  main {
    @include full_screen;
    position: relative;
    display: flex;
    flex-direction: column;

    #pageText {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      #topText {
        
      }

      #bottomText {
        position: relative;
        background-color: var(--gameBackground);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        z-index: 2;

        p {
          color: var(--mediumText);
          
          &>a {
            color: var(--hoverCol);
  
            &:visited {
              color: var(--selectedCol)
            }
          }
        }
      }
    }

    #screenContainer {
      @include full_screen;
      @include center_flex_element;
      flex: 1 1 0;
      position: absolute;
    }
  }
}

// Main elements

main {
  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

// Sidebar buttons
main {
  .navButton {
    @include button_style;
    @include width_height(50px);
    position: absolute;
    margin: 15px;
    padding: 0;

    &:focus {
      outline: none;
    }

    .navIcon {
      height: 80%;
      margin: 10%;
    }

    .tooltip {
      @include width_height(120px, 50%);
      margin: 20% 5px auto;
      visibility: hidden;
      text-align: center;
      padding: 5% 0;
      border-radius: 5px;

      position: absolute;
      z-index: 10;

      opacity: 0;
      transition: opacity 0.3s;
    }

    #scoreTooltip {
      right: 105%;
    }

    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  #scoresButton {
    @include top_right;
  }

  #settingsButton {
    img {
      transition: transform 0.3s;
    }

    &:hover img {
      transform: rotate(45deg);
    }
  }
}

// Sidebar and open animation
body {
  .navbar {
    @include width_height(0, 100%);
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    opacity: 0;
    transition: width 0.3s, opacity 0.15s;
  }

  #scoresNav {
    @include top_right;
  }

  .open {
    &#settingsButton {
      margin-left: calc(#{$menuSize} + 15px);
    }

    &#settingsNav {
      width: $menuSize;
      opacity: 1;
    }

    &#scoresButton {
      margin-right: calc(#{$menuSize} + 15px);
    }

    &#scoresNav {
      width: $menuSize;
      opacity: 1;
    }

    &#overlay {
      display: block;
    }
  }
}

// Settings form

#settingsForm {
  display: flex;
  flex-direction: column;
  height: 100%;

  #settingsHeader {
    padding-left: 15px;
  }

  .radioHeader {
    text-align: center;
  }

  .settingsRadio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    input {
      position: fixed;
      opacity: 0;
      pointer-events: none;
    }

    .radioSelector {
      @include center_text;
      @include width_height(7rem, 2rem);
      margin: 5px;
    }

    .lengthRadio:disabled + label {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .settingsMenuButton {
    @include width_height(15rem, 3rem);
    margin: 10px;
    font-size: 1.25rem;
    align-self: center;
  }

  #themeButtons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

// View words

#wordModal {
  #modalContent {
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    position: absolute;
    @include border_style;
    @include width_height(80%, 50%);

    animation-name: animatetop;
    animation-duration: 0.4s;

    .modalSection {
      padding: 15px;
    }

    #modalHeader {
      display: flex;
      flex-direction: row;
      text-align: center;

      #modalExit {
        margin-left: auto;
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        color: var(--mediumText);
        text-align: center;
        vertical-align: middle;
        line-height: 2rem;

        &:hover {
          background-color: var(--focusBackground);
          color: var(--highlightText);
        }
      }
    }

    #modalButtons {
      display: flex;
      justify-content: space-evenly;
      .modalButton {
        @include button_style;
        @include width_height(15rem, 3rem);
      }
    }

    #modalWords {
      display: flex;
      flex-wrap: wrap;
      border-radius: 5px;

      .modalWord {
        padding: 2px;
      }
    }
  }
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

// Scoreboard

#scoresNav {
  align-items: center;
  #scoreboard {
    width: 90%;
    table-layout: fixed;

    #scorebody {
      tr {
        text-align: center;
        width: 50%;
      }
    }
  }
}

// Z-Indexing

html {
  #gameContainer,
  #topText {
    z-index: 2;
  }

  #overlay {
    z-index: 3;
  }

  .navbar,
  .navButton {
    z-index: 4;
  }

  #wordModal {
    z-index: 5;
  }
}

// Game window

#gameContainer {
  @include width_height(39rem, 18rem);
  position: absolute;

  #game {
    $lh: 7 / 6;
    $bl: 1/6;
    $text: 4.5rem * $lh + 5/6;
    $grids: 2.5rem;

    @include full_screen;
    display: grid;
    grid-template-rows: $grids $text $grids $grids;
    gap: 0.75rem;
    padding: 0.75rem;
    box-sizing: border-box;
  }
}


#game {
  #gameStatsArea {
    @include center_flex_element;

    #statBox {
      @include width_height(2.5rem, 100%);
      display: flex;
      border-radius: 50%;
      justify-content: center;

      #gameProgress {
        line-height: 2.5rem;
        font-size: 1.5rem;
      }
    }
  }

  #gameWordArea {
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
    padding-bottom: 0.5rem + 1rem * 1/6;
  }

  #gameTypingArea {
    display: block;

    #gameTypingField {
      @include width_height(100%, calc(100% - 5px));
      border: 0;
      margin: 0;
      padding: 0;
      border-radius: 5px;
      outline: none;
      padding-left: 5px;
      font-size: 1.5rem;
    }
  }

  #gameResetArea {
    #gameResetButton {
      @include button_style;
      @include width_height(5rem, 80%);
    }
  }
}

// Start and finish overlay
#gameContainer {
  .gameOverlay {
    @include full_screen;
    @include top_right;
    position: absolute;
  }

  #startOverlay {
    @include center_flex_element;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    opacity: 1;
    height: 100%;

    &.hide {
      backdrop-filter: blur(0);
      opacity: 0;
      height: 0;
      transition: backdrop-filter 0.3s, opacity 0.03s, height 0s 0.3s;
    }

    #startButton {
      @include width_height(10rem, 5rem);
      @include center_text;
    }
  }

  #finishOverlay {
    display: none;

    form {
      display: grid;
      grid-template-rows: 20% 15% auto 20%;
      height: 100%;

      #finishTitleArea {
        @include center_flex_element;
      }

      #finishNameArea {
        @include center_flex_element;

        #finishTypingField {
          margin: 0;
          height: 1.5rem;
          outline: 0;
          @include border_style;
          border-radius: 5px;
          text-align: center;
        }
      }

      #finishStatArea {
        display: grid;
        padding: 0 10%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 70%;

        .finishStat {
          justify-self: center;
          align-self: center;
        }
      }

      #finishHiddenForms {
        display: none;
      }

      #finishRetryArea {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .finishButton {
          @include button_style;
          @include width_height(5rem, 2rem);
        }
      }
    }
  }
}
