.light {
  --highlightText: #2E3440;
  --mediumText: #3B4252;
  --smallText: #434C5E;
  --backgroundColor: #D8DEE9;
  --navBackground: #E5E9F0;
  --gameBackground: #ECEFF4;
  --focusBackground: #f9fafb;
  --hoverCol: #88C0D0;
  --selectedCol: #5E81AC;
  --borderOutline: #3B4252;
  --buttonHover: #ECEFF4;
  --containerBorder: 2px solid var(--borderOutline);
  --buttonBorder: 1px solid var(--borderOutline);
  --scoreboard1: #D8DEE9;
  --scoreboard2: #f9fafb;
  --typingWord: #3B4252;
  --highlightWord: #88C0D0;
  --correctWord: #A3BE8C;
  --wrongWord: #BF616A;
}

.dark {
  --highlightText: #ECEFF4;
  --mediumText: #E5E9F0;
  --smallText: rgba(216, 222, 233, 0.87);
  --backgroundColor: #2E3440;
  --gameBackground: #3B4252;
  --navBackground: #434C5E;
  --focusBackground: #4C566A;
  --hoverCol: #88C0D0;
  --selectedCol: #5E81AC;
  --borderOutline: rgba(216, 222, 233, 0.87);
  --buttonHover: #434C5E;
  --containerBorder: 2px solid var(--borderOutline);
  --buttonBorder: 1px solid var(--borderOutline);
  --scoreboard1: #3B4252;
  --scoreboard2: #4C566A;
  --typingWord: #D8DEE9;
  --highlightWord: #88C0D0;
  --correctWord: #A3BE8C;
  --wrongWord: #BF616A;
}