.game {
  position: relative;
  display: inline-block;
}
.game .gameContainer {
  width: 621px;
  height: 276px;
  border: double;
  display: grid;
  grid-template-rows: 15% auto 15% 12.5%;
  gap: 5%;
  padding: 15px 12px;
}
.game .gameContainer .gameArea {
  border: groove;
}
.game .gameContainer #gameWordArea {
  position: relative;
  overflow: hidden;
  padding: 5px;
}
.game .gameContainer #gameWordArea .typingWord {
  font-size: 30px;
}
.game .gameContainer #gameWordArea #highlightWord {
  color: orange;
}
.game .gameContainer #gameWordArea .correctWord {
  color: green;
}
.game .gameContainer #gameWordArea .wrongWord {
  color: red;
}
.game .gameContainer #gameTypingArea {
  display: block;
}
.game #startOverlay,
.game #finishOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.game #startOverlay {
  backdrop-filter: blur(3px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game #finishOverlay {
  border: groove;
  background-color: white;
  z-index: 2;
  display: none;
  grid-template-rows: 20% 15% auto 20%;
}
.game #finishOverlay .finishArea {
  display: flex;
  border: groove;
}
.game #finishOverlay #finishTitleArea {
  justify-content: center;
  align-items: center;
}
.game #finishOverlay #finishNameArea {
  justify-content: center;
  align-items: center;
}
.game #finishOverlay #finishStatArea {
  display: grid;
  padding: 0 10%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 70%;
}
.game #finishOverlay #finishStatArea .finishStat {
  justify-self: center;
  align-self: center;
}
.game #finishOverlay .hiddenField {
  display: none;
}
.game #finishOverlay #finishRetryArea {
  justify-content: space-evenly;
  align-items: center;
}
