//https://www.nordtheme.com/docs/colors-and-palettes

// Dark
$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;

// Light
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;
$polarbg: #f9fafb;

// Blues/Greens
$nord7: #8FBCBB;
$nord8: #88C0D0;
$nord9: #81A1C1;
$nord-10: #5E81AC;

// Highlights
$nord-11: #BF616A;
$nord-12: #D08770;
$nord-13: #EBCB8B;
$nord-14: #A3BE8C;
$nord-15: #B48EAD;