

@use "colors" as c;
@use "variables" as *;

//https://www.nordtheme.com/docs/colors-and-palettes

$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;
$polarbg: #f9fafb;
$nord7: #8FBCBB;
$nord8: #88C0D0;
$nord9: #81A1C1;
$nord-10: #5E81AC;
$nord-11: #BF616A;
$nord-12: #D08770;
$nord-13: #EBCB8B;
$nord-14: #A3BE8C;
$nord-15: #B48EAD;

.light {
   --highlightText: #{$nord0};
   --mediumText: #{$nord1};
   --smallText: #{$nord2};

   --backgroundColor: #{$nord4};
   --navBackground: #{$nord5};
   --gameBackground: #{$nord6};
   --focusBackground: #{$polarbg};

   --hoverCol: #{$nord8};
   --selectedCol: #{$nord-10};
   --borderOutline: #{$nord1};
   --buttonHover: #{$nord6};

   --containerBorder: 2px solid var(--borderOutline);
   --buttonBorder: 1px solid var(--borderOutline);

   --scoreboard1: #{$nord4};
   --scoreboard2: #{$polarbg};

   --typingWord: #{$nord1};
   --highlightWord: #{$nord8};
   --correctWord: #{$nord-14};
   --wrongWord: #{$nord-11};
}

.dark {
   --highlightText: #{$nord6};
   --mediumText: #{$nord5};
   --smallText: #{rgba($nord4, 0.87)};

   --backgroundColor: #{$nord0};
   --gameBackground: #{$nord1};
   --navBackground: #{$nord2};
   --focusBackground: #{$nord3};

   --hoverCol: #{$nord8};
   --selectedCol: #{$nord-10};
   --borderOutline: #{rgba($nord4, 0.87)};
   --buttonHover: #{$nord2};

   --containerBorder: 2px solid var(--borderOutline);
   --buttonBorder: 1px solid var(--borderOutline);

   --scoreboard1: #{$nord1};
   --scoreboard2: #{$nord3};

   --typingWord: #{$nord4};
   --highlightWord: #{$nord8};
   --correctWord: #{$nord-14};
   --wrongWord: #{$nord-11};
}