@use "colors" as c;

$hoverCol: c.$nord8;
$selectedCol: c.$nord10;
$highlightText: c.$nord0;
$mediumText: c.$nord1;
$borderOutline: c.$nord1;
$background: c.$nord5;
$gameBg: c.$nord6;
$navBg: c.$nord4;
$focusBg: c.$polarbg;

$menuSize: 25rem;
